div {
    height: 200px;
    width: 500px;
    background-color: pink;

    border: 5px solid black;
   
    border-radius: 10px;

    padding: 15px 15px 15px 15px;

    margin: 50px;
}

h1 {
    border-width: 3px;
    border-style: dotted;
    border-color: green;
}

button {
    border: 3px solid black;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: yellow;
}