#outer {
    background-color: pink;
    height: 400px;
    width: 400px;
    border: 2px solid black;
    font-size: 20px ;
    margin-bottom: 20px;
}

#inner {
    background-color: cornflowerblue;
    height: 100px;
    width: 100px;
    font-size: 2em;
    padding: 1em;
}

button {
    font-size: 50px;
    border-radius: 15px;
    border: 5px solid green;
    padding-left: 1em;
    padding-right: 1em;
}