div {
    height: 200px;
    width: 500px;
    background-color: pink;
    /* border-width: 5px;
    border-style: solid;
    border-color: black; */
    border: 5px solid black;
    /* border-left: 5px dashed blue;
    border-top: 5px dashed blue; */
    border-radius: 10px;

}

h1 {
    border-width: 3px;
    border-style: dotted;
    border-color: green;
}