/* body {
    text-align: center;
} */

h1{
    text-align: center;
    color: red;
    font-family: georgia;
}

p {
    color: #964b00;
    text-align: center;
    line-height: 30px;

}

h3 {
    text-align: center;
    color:black;
}

a {
    color: green;;
    text-decoration: none;
} 

button {
    background-color: white;
    color: blueviolet;
    text-align: center;
}

h4 {
    text-align: center;
}

textarea {
    color: #000000;
    text-align: center;

}

span {
    text-decoration: underline;
}