body {
    font-family: sans-serif, didot;
}

h1 {
    text-align: center;
    text-decoration: wavy red underline;
    font-size: 40px;
}

h2 {
    font-weight: 700;
    text-decoration: black underline;
}

p {
    text-align: justify;
    font-weight: 400;
    line-height: 1.5;
    font-size: 15px;
    
}

#b {
    text-decoration: black underline;
}

a {
    text-decoration: none;
}