/* div {
    height: 200px;
    width: 200px;
    background-color: rgba(0, 255, 0, 1);
}

#opacity {
    background-color: #ffbf00;
    opacity: 1;
} */

div {
    height: 100px;
    width: 100px;
    background-color: #00ff00;
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 2s ease-in 0s;
}

div:hover {
    margin-top: 300px;
    background-color: pink;
    border-radius: 50%;
}