body {
    background-image: url("bgimage.jpg");
    background-size: auto;
}
section {
    margin-top: 100px;
}

div {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 50px;
}

div:nth-of-type(2n) {
    background-color: #f7db6a;
}

div:nth-of-type(3n) {
    background-color: #ebb02d;
}

#one {
    transform: rotate(90deg);
}

#two {
    transform: scale(2, 0.5);
}

#three {
    border: none;
    transform: translate(-300px);
    box-shadow: 2px 2px 8px black;
}
 
#four {
    border:none;
    transform: skew(30deg);
    border-radius: 10px;
    box-shadow: 10px 2px 10px black; 
    background-image: url("bgimage.jpg");
    background-size: cover;
}

#five {
    transform: rotate(15deg) translateX(200px);
}