.card {
    width: 200px;
    height: 300px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px black;
    transition-duration: 0.5s ;
}

.desc{
    padding: 0 3px 0px 3px;
}
img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card:hover{
    box-shadow: 0 8px 18px black;
}